*.class
*.log

#eclipse files
.project
.cache
.classpath

# sbt specific
.cache/
.history/
.lib/
.idea/*
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

bin/*
*.iml
*.jar
project/META-INF/*

# Scala-IDE specific
.scala_dependencies
.worksheet
